<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sadi</td>
        <td>Paese</td>
        <td>sadi@acserv.com.br</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>teste</td>
        <td>teste</td>
        <td>casa@acserv.com.br</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td> casa</td>
        <td> casa</td>
        <td>casa@acserv.com.br</td>
      </tr>
    </tbody>
  </table>