<table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sadi</td>
        <td>Paese</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>teste</td>
        <td>teste</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td> casa</td>
        <td> casa</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>